<p-growl></p-growl>
<div class="ui-g">
    <div class="ui-g-5">
        <div class="ui-g-10">
            <h5 class="header-title">Assign roles to an user</h5>
        </div>
        <div class="ui-g-10">
            <p-dropdown styleClass="full-width" [options]="objUserList" [filter]="true" [ngModel]="selected" (onChange)="onUserChange($event)" dataKey="id" optionLabel="name_eng"  placeholder="-- Select Role --" [showClear]="true"></p-dropdown>
        </div>
        <div class="ui-g-10">
            <ngx-treeview
                    [config]="config"
                    [items]="items"
                    (selectedChange)="values = $event">
            </ngx-treeview>
        </div>
    </div>
    <div class="divider"></div>
    <div class="ui-g-5">
        <button icon="fa fa-fw fa-save" pButton color="accent" (click)="saveAssignForm()" label="Save"></button>
        <button type="button" pButton class="ui-button-secondary" (click)="getHistory(selected)" label="History" icon="fa fa-fw fa-history"></button>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12" *ngIf="history">
        <app-list-deep [cols]="colsHistory" [data]="objListHistory.results"
                       [isNullShow]="isNullShow"
                       [stopLoading]="stopLoading"
                       [numRecords]="objListHistory.length"
                       [pageRows]="numRecord"
                       (onActionPage)="pageEvent($event)"
                       [actionRows]="false" (onActionRow)="onAction($event)"
                       [default_action]="true">
        </app-list-deep>
    </div>
</div>
<p-growl></p-growl>
